@tailwind base;
@tailwind components;
@tailwind utilities;

/** default styling  **********************************************************************************************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* :root {
  --bg: #eeecec;
  --elem: rgba(246, 245, 245, 0.77);
  --btn: #b4a0e7;
  --elmcont: #1a1a1c;
  --particle: #0000ff;
  --text: #0000;444445
} */
:root {
  --bg: #131315;
  --elem: #2a2a2a;
  --btn: #c7b4f7;
  --elmcont: #444445;
  --particle: #0000ff;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--bg);
  color: #eeeaea;
}
.cc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 90%;
}
.partical {
  background-color: var(--particle);
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  filter: blur(16rem);
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}
img{
  filter: drop-shadow(.2rem .2rem .5rem rgba(255, 255, 255, 0.5));
}
.img{
  filter: drop-shadow(.6rem .6rem 2.5rem rgba(255, 255, 255, 0.9));
}
.shadows{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.rightside::-webkit-scrollbar{
  display: none;
}
.scaley::-webkit-scrollbar{
  display: none;
}
/** default styling  **********************************************************************************************************************/


/* ? =========================================================responsive ness============================================================ */
@media(max-width:680px){
  .container{
    width: 95%;
  }
  .today_img{
    width: 35rem;
  }
}
/* ? =========================================================responsive ness============================================================ */